/* ================= ABOUT PAGE RESPONSIVE ================= */

@media (max-width: 768px) {
    .mission-vision {
      padding: 50px 7% 50px;
    }
  
    .mv-intro h2 {
      font-size: 2rem;
    }
  
    .mv-intro p {
      max-width: none;
    }
  }
  